<div class="container">
    <ng-template [ngIf]="isUserInfoSent" [ngIfElse]="infoNotSent">
        <h2>Account activation</h2>
        <p>Check out your email for activation link. After activation you can use this account.</p>
    </ng-template>

    <ng-template #infoNotSent>
        <h2>Create new account</h2>
    
        <button mat-button (click)="onClickSignIn()">
            Already have an account? Sign in
        </button>
    
        <br />
        
        <form [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()">
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="First name" [(ngModel)]="firstName" formControlName="firstName" />
            </mat-form-field>
        
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="Last name" [(ngModel)]="lastName" formControlName="lastName" />
            </mat-form-field>
        
            <br />
        
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">account_circle</mat-icon>
                <input matInput type="text" placeholder="Username" [(ngModel)]="username" formControlName="username" />
            </mat-form-field>
        
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">email</mat-icon>
                <input matInput type="email" placeholder="E-mail" [(ngModel)]="email" formControlName="email" />
            </mat-form-field>
        
            <br />
        
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">lock</mat-icon>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" formControlName="password" />
            </mat-form-field>
        
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">lock</mat-icon>
                <input matInput type="password" placeholder="Repeat password" [(ngModel)]="repeatPassword" formControlName="repeatPassword" />
            </mat-form-field>
        
            <br />
        
            <button type="submit" mat-raised-button color="primary">
                Register
            </button>
        </form>
    </ng-template>
</div>