.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    margin-right: 10px;
}

.input-field {
    margin-right: 10px;
    margin-left: 10px;
}