<div class="container" fxLayout="column" fxLayoutAlign="center">

  <div fxFlex>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

  <div fxFlex fxFlexAlign="center"
       class="autocomplete-container">
    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelected($event)">
    </mat-google-maps-autocomplete>

  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter location name" #locationName>
  </mat-form-field>

  <button mat-raised-button color="primary" class="btn-settings" (click)="onEditLocation()">
    <mat-icon class="icon">edit</mat-icon>
    <span>  Edit location</span>
  </button>


  <div class="container-table">
    <table class="table" id = "table">
      <thead>
          <tr>
            <th>Hall name</th>
            <th>Active sectors</th>
            <th>Edit hall</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let hall of location?.halls">
            <td>{{hall.name}}</td>
            <td>{{hall.sectors.length}}</td>
            <td>
              <button mat-button (click)="onClickEdit(hall.id)" class = "editBtn">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter hall name" #hallName>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-settings" (click)="onAddHall()">
      <mat-icon class="icon">add</mat-icon>
      <span>  Add hall</span>
    </button>
  </div>

  <div class="div-settings">

  </div>
</div>
