<div class="container" fxLayout="column" fxLayoutAlign="center">

  <div fxFlex>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

  <div fxFlex fxFlexAlign="center"
       class="autocomplete-container">
    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelected($event)"
                                  (onChange)="onChange($event)"
                                  #autocompleteInput>
    </mat-google-maps-autocomplete>

  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter location name" #locationName>
  </mat-form-field>

  <button mat-raised-button color="primary" class="btn-edit" (click)="onEditLocation()">
    <mat-icon class="icon">edit</mat-icon>
    <span>Edit location</span>
  </button>

</div>
