.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 600px;
    min-width: 600px;
    width: 400px;
    margin: 10px;
}

.card .card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-actions button span {
    margin-right: 5px;
}
