<div class="container">
    <h2>KTS-NWT Events</h2>

    <mat-card class="card" *ngFor="let event of events">
        <mat-card-header>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.startDate | date: 'dd.MM.yyyy.'}} - {{event.endDate | date: 'dd.MM.yyyy.'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <img src="{{event.imagePath}}" />

                <div>
                    <p>
                        <strong>Type:</strong> {{event.type | titlecase}}
                    </p>
        
                    <p>
                        <strong>Description:</strong> {{event.description}}
                    </p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="onClickSeeMore(event.id)">
                <span>See more</span>
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>