<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title" (click)="onTitleClick()">KTS-NWT</span>

        <!-- REGISTERED USER -->

        <ng-template [ngIf]="isUserLoggedIn()" [ngIfElse]="nonRegisteredUser">
            <span class="spacer"></span>
            
            <!-- ADMIN -->
            <div *ngIf="isAdminLoggedIn()">
                <button mat-button [matMenuTriggerFor]="adminMenu" id = "adminMenuBtn">
                    <span class="btnText">Admin panel</span>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
    
                <mat-menu #adminMenu="matMenu">
                    <button mat-menu-item (click)="onClickAllEvents()" id="eventsBtn">
                        <mat-icon>event</mat-icon>
                        <span>Events</span>
                    </button>

                    <button mat-menu-item (click)="onClickAllLocations()" id="locationsBtn">
                        <mat-icon>location_city</mat-icon>
                        <span>Locations</span>
                    </button>
                </mat-menu>
            </div>

            <!-- REGULAR USER -->
            <div *ngIf="isPlainUserLoggedIn()">
              <button mat-button (click)="onClickMyReservations()" id="myReservationsBtn">
                <span class="btnText">My reservations</span>
              </button>
            </div>
            <button id="user-menu-btn" mat-button [matMenuTriggerFor]="userMenu">
                <span class="btnText">{{ getUsername() }}</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu">
                <button id="user-menu-settings-btn" mat-menu-item (click)="onClickProfileSettings()">
                    <mat-icon>settings_applications</mat-icon>
                    <span>Profile settings</span>
                </button>

                <button mat-menu-item (click)="onClickLogout()">
                    <mat-icon>input</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </ng-template>
        
        <!-- NON REGISTERED USER -->

        <ng-template #nonRegisteredUser>
            <span class="spacer"></span>

            <button id="toolbar-registration-btn" mat-button class="button" (click)="onClickRegister()">
                Register
            </button>

            <button id="toolbar-login-btn" mat-raised-button class="button" (click)="onClickLogin()">
                Login
            </button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
