<div class="container">
    <div class="header">
        <h1>Events</h1>

        <button mat-raised-button color="primary" class="btnAdd" (click)="onClickAddEvent()">
            <mat-icon class="icon">add_circle</mat-icon>
            <span>Add new</span>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <!-- TODO: Po potrebi kad se sredi DTO na backendu dodati jos podataka u tabelu -->
                <th>ID</th>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Tickets/buyer</th>
                <th>Type</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Statistics</th>
                <th>Archive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{event.id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.startDate | date: 'dd.MM.yyyy.'}}</td>
                <td>{{event.endDate | date: 'dd.MM.yyyy.'}}</td>
                <td>{{event.ticketsPerUser}}</td>
                <td>{{event.type}}</td>
                <td>
                    <button mat-button (click)="onClickDetails(event.id)" class = "btnDetails">
                        <mat-icon>more</mat-icon>             
                    </button>
                </td>
                <td>
                    <button mat-button (click)="onClickEdit(event.id)" class = "btnEdit" id="editBtn">
                        <mat-icon>edit</mat-icon>                    
                    </button>
                </td>
                <td>
                    <button mat-button (click)="onClickStats(event.id)" class = "btnStats">
                        <mat-icon>assessment</mat-icon>                    
                    </button>
                </td>
                <td>
                    <button mat-button (click)="onClickArchive(event.id)" class = "btnArchive">
                        <mat-icon>archive</mat-icon>                    
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            <td>
                <mat-select class="page-size-select" [(ngModel)]="pageSize" id = "sizeBtn" (ngModelChange)="onPageSizeSelect()">
                    <mat-option value="5">5</mat-option>
                    <mat-option value="10">10</mat-option>
                    <mat-option value="15">15</mat-option>
                </mat-select>
            </td>
            <td>
                <button mat-button *ngIf="pageNum !== 0" (click)="onClickPrevious()" id = "previousBtn">
                    <mat-icon>navigate_before</mat-icon>
                    <span>Previous</span>
                </button>
            </td>
            <td>
                <button mat-button *ngIf="pageNum * pageSize < totalNumOfEvents - pageSize" id = "nextBtn" (click)="onClickNext()">
                    <span>Next</span>
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </td>
        </tfoot>
    </table>
</div>
