<div class="container">
    <div class="image-container">
        <img class="profile-image" src="{{user.imagePath}}" 
            matTooltip="Click to upload new image" 
            (click)="fileInput.click()"
        />
        
        <h3>{{ user.username }}</h3>
        
        <input
            style="display: none"
            type="file" (change)="onClickImageChange($event)"
            #fileInput
            accept="image/x-png,image/gif,image/jpeg"
        >
    </div>


    <div class="user-info-container">
        <form [formGroup]="basicInfoForm" (ngSubmit)="onClickSaveEdit()">
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="First name" formControlName="firstName" />
            </mat-form-field>
    
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="Last name" formControlName="lastName" />
            </mat-form-field>
    
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">email</mat-icon>
                <input matInput type="email" placeholder="E-mail" formControlName="email" />
            </mat-form-field>
    
            <button type="submit" mat-raised-button color="primary">Save</button>
        </form>
    
        <form [formGroup]="passwordForm" (ngSubmit)="onClickEditPassword()">
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">lock</mat-icon>
                <input matInput type="password" placeholder="Old password" formControlName="oldPassword" />
            </mat-form-field>
    
            <mat-form-field class="input-field" appearance="outline">
                <mat-icon matPrefix class="icon">lock</mat-icon>
                <input matInput type="password" placeholder="New password" formControlName="newPassword" />
            </mat-form-field>
    
            <button type="submit" mat-raised-button color="primary">Change</button>
        </form>
    </div>
</div>