<div class="container">
    <div class="image-container">
        <img class="profile-image" src="{{user.imagePath}}" 
            matTooltip="Click to upload new image" 
            (click)="fileInput.click()"
        />
        
        <h3 id="username-header">{{ user.username }}</h3>
        
        <input
            style="display: none"
            type="file" (change)="onClickImageChange($event)"
            #fileInput
            accept="image/x-png,image/gif,image/jpeg"
        />
    </div>

    <div class="user-info-container">
        <form [formGroup]="basicInfoForm" (submit)="onClickSaveEdit()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                    <input id="firstname-input" matInput type="text" placeholder="First name" formControlName="firstName" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="basicInfoForm.controls.firstName.touched && basicInfoForm.controls.firstName.required">
                    First name is required
                </small>
            </div>
            
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                    <input id="lastname-input" matInput type="text" placeholder="Last name" formControlName="lastName" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="basicInfoForm.controls.lastName.touched && basicInfoForm.controls.lastName.required">
                    Last name is required
                </small>
            </div>
            
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">email</mat-icon>
                    <input id="email-input" matInput type="email" placeholder="E-mail" formControlName="email" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="basicInfoForm.controls.email.touched && basicInfoForm.controls.email.required">
                    Email is required
                </small>

                <small class="text-danger"
                    *ngIf="basicInfoForm.controls.email.touched && basicInfoForm.controls.email.email">
                    Email is not valid
                </small>
            </div>
            
            <button id="save-btn" type="submit" mat-raised-button color="primary" [disabled]="basicInfoForm.invalid">
                Save
            </button>
        </form>
    
        <form [formGroup]="passwordForm" (submit)="onClickEditPassword()">
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">lock</mat-icon>
                    <input id="old-pw-input" matInput type="password" placeholder="Old password" formControlName="oldPassword" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.required">
                    Old password is required
                </small>
            </div>
            
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-icon matPrefix class="icon">lock</mat-icon>
                    <input id="new-pw-input" matInput type="password" placeholder="New password" formControlName="newPassword" />
                </mat-form-field>

                <small class="text-danger"
                    *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.required">
                    New password is required
                </small>
            </div>
            
            <button id="change-pw-btn" type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">
                Change
            </button>
        </form>
    </div>
</div>