<div class="container">
    <div class="header">
        <h1>Locations</h1>

        <button mat-raised-button color="primary" class="btnAdd" (click)="onClickAddLocation()">
            <mat-icon class="icon">add_circle</mat-icon>
            <span>Add new</span>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Address</th>
                <th>Num. of halls</th>
                <th>Edit</th>
                <th>Statistics</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations">
                <td>{{location.id}}</td>
                <td>{{location.name}}</td>
                <td>{{location.address.city}}</td>
                <td>{{location.address.country}}</td>
                <td *ngIf="location.address.streetName && location.address.streetNumber">{{location.address.streetName + ' ' + location.address.streetNumber}}</td>
                <td *ngIf="location.address.streetName && !location.address.streetNumber">{{location.address.streetName}}</td>
                <td *ngIf="!location.address.streetName">----------------------</td>
                <td>{{location.halls.length}}</td>
                <td>
                    <button mat-button (click)="onClickEdit(location.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-button (click)="onClickStats(location.id)">
                        <mat-icon>assessment</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            <td>
                <mat-select class="page-size-select" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeSelect()">
                    <mat-option value="5">5</mat-option>
                    <mat-option value="10">10</mat-option>
                    <mat-option value="15">15</mat-option>
                </mat-select>
            </td>
            <td>
                <button mat-button *ngIf="pageNum !== 0" (click)="onClickPrevious()">
                    <mat-icon>navigate_before</mat-icon>
                    <span>Previous</span>
                </button>
            </td>
            <td>
                <button mat-button *ngIf="pageNum * pageSize < totalNumOfLocations - pageSize" (click)="onClickNext()">
                    <span>Next</span>
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </td>
        </tfoot>
    </table>
</div>
